
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: #fcfcfc;
  font-family: 'Raleway' !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway' !important;
}

a {
  text-decoration: none;
  color: unset;
}

h1,
h2 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #212245;
}

section {
  padding: 60px 0px;
}

.bg-button {
  background-image: linear-gradient(to right, var(--primary-color ), var(--secondary-color ));
  border: 1.5px solid var(--secondary-color); 
}

:root {
  --primary-color: #646cff 2%;
  --secondary-color: #535bf2 ;
  --third-color: #EFF1F999;
  --secondary-30: #FFF2E2;
  --grey: #ABAFB1;
}